.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: rgb(243, 243, 238);
  padding: 40px 32px;

  &__container {
    flex: 1 1 0%;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 80px);
  }

  &__main {
    padding: 28px 0 32px;
    overflow-y: auto;
  }
}
