@use '@styles/mixins' as *;
@use '@styles/abstracts' as *;

.bottom-screen-button {
  position: fixed;
  bottom: 16px;
  left: var(--padding-x);
  right: var(--padding-x);
  width: calc(100% - 2 * var(--padding-x));
  z-index: 10;
}

.card-alert {
  padding: 12px 16px;
  border-radius: 16px;
  @include create-gradient-border(var(--stroke-disabled), var(--bg-gr-disabled));
}

.card-info {
  padding: 8px 12px 8px 16px;
  background-color: rgba(97, 170, 255, 0.102);
  color: var(--color-info);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center {
  @include flex-center();
}

.flex-center-column {
  @include flex-center(column);
}

.dir-ltr {
  direction: ltr;
}

.body-dialog-is-open {
  @extend %body-overflow-hidden;
}

.pointer-none {
  @include pointer-none();
}

.expander-icon {
  display: flex;
  align-items: center;
  margin-right: 12px;
  @include rotate-z();
}

.spin-loading {
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 146, 165) rgb(211, 211, 201) rgb(211, 211, 201);
  border-image: none;
  border-radius: 50%;
  display: inline-block;
  animation: 0.7s linear 0s infinite normal none running spinners;
}

.skelton-loading {
  background: linear-gradient(90deg, #edede5 25%, #e5e5dc 37%, #edede5 63%);
  background-size: 200% 100%;
  animation: tp-shimmer 1.4s ease infinite;
}
