@use '@styles/mixins' as *;
@use '@styles/abstracts' as *;

@keyframes barLoading {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-500%);
  }
}

.control {
  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__legend {
    color: var(--color-text-t5);
    position: absolute;
    top: calc(50% - var(--text-size-md));
    right: 12px;
    pointer-events: none;
    user-select: none;
    transition: all ease 150ms;
    @include text-size(var(--text-size-md), 1.8, var(--text-weight-light));
  }

  &__input {
    @extend %control-input;

    &:focus {
      border-color: rgb(0, 183, 206);
      box-shadow: rgba(0, 183, 206, 0.14) 0px 0px 0px 3px;

      & + .control__legend {
        @extend %active-legend;
      }

      &.control--has-label {
        padding-top: 24px;
        padding-bottom: 12px;
      }
    }

    &__error-message {
      @extend %control-error-message;
    }

    &--error {
      @extend %control-error;
    }

    &--ltr {
      direction: ltr;
      text-align: right;
    }

    &--dense {
      height: 40px;
    }
  }

  &__suffix {
    position: absolute;
    left: 20px;
    top: 19px;
    user-select: none;
    color: var(--color-text-t5);
    font-weight: var(--text-weight-light);
  }

  &__error-message {
    @extend %control-error-message;
  }

  &__clear {
    $size: 10px;
    position: absolute;
    left: 8px;
    top: 24px;
    color: var(--color-gray-4);
    cursor: pointer;
    @include flex-center();

    &-icon {
      @include create-square($size);
    }
  }

  &__loading {
    margin: 2px 4px 0;
    height: 4px;
    border-radius: 12px;
    overflow-x: hidden;
    background-color: var(--color-card-dp56);

    &-fill {
      height: 100%;
      display: block;
      width: 20%;
      border-radius: 12px;
      transform: translateX(0);
      background-color: var(--color-primary);
      animation-name: barLoading;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
    }
  }

  &__helper-text {
    display: block;
    font-style: normal;
    padding-right: 16px;
    color: var(--color-gray-4);
    margin-top: 4px;
    @include text-size(
      var(--text-size-sm),
      var(--text-height-sm),
      var(--text-weight-bold)
    );
  }

  &__prefix-icon {
    color: rgb(174, 174, 168);
    position: absolute;
    top: 18px;
    right: 20px;

    svg {
      @include create-square(18px);
    }
  }

  &__label {
    color: #1F2833;
    font-weight: 600;
    font-size: 12px;
    display: block;
    padding-bottom: 2px;
    padding-right: 8px;
  }

  &--has-suffix {
    .control__input {
      padding-left: 60px;

      & ~ .control__clear {
        left: 48px;
      }
    }
  }

  &--has-value {
    .control__legend {
      @extend %active-legend;
    }

    & .control--has-label {
      padding-top: 24px;
      padding-bottom: 12px;
    }
  }

  &--has-icon {
    $right-space: 40px;

    .control__input {
      padding-right: $right-space;
    }

    .control__legend {
      right: $right-space;
    }
  }

  &--has-clearable {
    .control__input {
      padding-left: 30px;
    }
  }

  &--loading {
    opacity: 0.5;
  }
}
