@use '@styles/mixins' as *;

%active-legend {
  top: calc(24% - var(--text-size-xs));
  @include text-size(var(--text-size-xs), 1.5, var(--text-weight-light));
}

%control-input {
  display: block;
  padding: 16px;
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-fg);
  border: 1px solid #00000033;
  border-radius: 16px;

  &:disabled {
    opacity: 0.5;
  }

  &::placeholder {
    color: rgb(174, 174, 168);
  }
}

%control-error {
  border-color: rgb(222, 55, 48);
  box-shadow: none;

  & + .control__legend {
    color: var(--color-error);
  }

  &:focus {
    & + .control__legend {
      @extend %active-legend;
      color: var(--color-error);
    }
  }

  & > .select-field__icon {
    color: var(--color-error);
  }
}

%control-error-message {
  color: var(--color-error);
  font-style: normal;
  padding: 8px 8px 8px 0;
  @include inline-block();
  @include text-size(var(--text-size-sm), 1.5, var(--text-weight-medium));
}
