:root {
  --color-background: #FFFFFF;
  --color-bg-control: rgba(0, 0, 0, 0.349);
  --color-bg-overlay: #0F172A80;
  --color-background-50: #F1F5F9;
  --color-background-300: rgba(255, 255, 255, 0.1);

  --color-fg: #0F172A;

  --color-primary: #0698AE;
  --color-primary-dark: rgba(255, 0, 0, 0.8);
  --color-primary-light: #e64225;
  --color-red-dark: #B91C1C;
  --color-red: #EF4444;

  --color-status-error: rgb(255, 102, 102);
  --color-status-success: #40d195;

  --color-secondary: #D97706;
  --color-secondary-dark: #af6c2b;
  --color-success: #0F8A46;
  --color-success-dark: #68c17c;

  --color-yellow: #f8f976;
  --color-yellow-warning: #F59E0B;
  --color-green: #10B981;
  --color-green-dark: #05a180;

  --color-tag-error: #663333;
  --color-tag-red: rgba(250, 105, 80, 0.2);
  --color-tag-fault: rgba(255, 88, 88, 0.149);
  --color-tag-success: #ECFDF5;
  --color-tag-green: rgba(55, 179, 153, 0.2);
  --color-tag-yellow: rgba(255, 214, 0, 0.2);
  --color-cream-dark: #ddb889;

  --color-card-dp2: #1e1e1e;
  --color-card-dp4: #242424;
  --color-card-dp6: #2c2c2c;
  --color-card-dp24: #383838;
  --color-card-dp32: #444444;
  --color-card-dp48: #4f4f4f;
  --color-card-dp56: #626262;

  --color-white: #fff;
  --color-black: #000;
  --color-error: #DC2626;
  --color-error-light: #EF4444;
  --color-violet: #aac3ff;
  --color-info: #61aaff;

  --color-text-t4: #94A3B8;
  --color-text-t3: #64748B;
  --color-text-t2: #475569;
  --color-text-t1: #334155;
  
  --color-gray-1: #404040;
  --color-gray-2: #808285;
  --color-gray-3: #d6d7d7;
  --color-gray-4: #c8c8c8;
  --color-gray-5: #EDF1F5;

  --color-disabled: rgba(255, 255, 255, 0.051);
  --color-btm-disabled: #4a4a4a;
}
