:root {
  --color-background: #ffffff;
  --color-bg-control: rgba(0, 0, 0, 0.349);
  --color-bg-overlay: #0f172a80;
  --color-background-50: #f1f5f9;
  --color-background-300: rgba(255, 255, 255, 0.1);

  --color-fg: #0f172a;

  --color-primary: #00b7ce;
  --color-primary-dark: rgba(255, 0, 0, 0.8);
  --color-primary-light: #e64225;
  --color-red-dark: #b91c1c;
  --color-red: #ef4444;

  --color-status-error: rgb(255, 102, 102);
  --color-status-success: #40d195;

  --color-secondary: #21376e;
  --color-secondary-dark: #182952;
  --color-success: #0f8a46;
  --color-success-dark: #68c17c;

  --color-yellow: #f8f976;
  --color-yellow-warning: #f59e0b;
  --color-green: #10b981;
  --color-green-dark: #05a180;

  --color-tag-error: #663333;
  --color-tag-red: rgba(250, 105, 80, 0.2);
  --color-tag-fault: rgba(255, 88, 88, 0.149);
  --color-tag-success: #ecfdf5;
  --color-tag-green: rgba(55, 179, 153, 0.2);
  --color-tag-yellow: rgba(255, 214, 0, 0.2);
  --color-cream-dark: #ddb889;

  --color-card-dp2: #1e1e1e;
  --color-card-dp4: #242424;
  --color-card-dp6: #2c2c2c;
  --color-card-dp24: #383838;
  --color-card-dp32: #444444;
  --color-card-dp48: #4f4f4f;
  --color-card-dp56: #626262;

  --color-white: #fff;
  --color-black: #000;
  --color-error: #df5454;
  --color-error-light: #ef4444;
  --color-violet: #aac3ff;
  --color-info: #61aaff;

  --color-text-t4: #94a3b8;
  --color-text-t3: #64748b;
  --color-text-t2: #475569;
  --color-text-t1: #334155;
  --color-text-dark: #1f2833;

  --color-gray-1: #404040;
  --color-gray-2: #808285;
  --color-gray-3: #d6d7d7;
  --color-gray-4: #c8c8c8;
  --color-gray-5: #edf1f5;

  --color-disabled: rgba(255, 255, 255, 0.051);
  --color-btm-disabled: #4a4a4a;
}
