:root {
  --text-size-xs: 10px;
  --text-size-sm: 12px;
  --text-size-md: 14px;
  --text-size-lg: 16px;
  --text-size-xl: 18px;
  --text-size-2xl: 20px;
  --text-size-3xl: 24px --text-size-h1: 48px;
  --text-size-h2: 32px;
  --text-size-h3: 24px;

  --text-size-subtitle: 18px;
  --text-size-bm: 14px;

  --text-height-sm: 18px;
  --text-height-md: 24px;
  --text-height-xl: 56px;

  --text-weight-thin: 100;
  --text-weight-extra-light: 200;
  --text-weight-light: 300;
  --text-weight-regular: 400;
  --text-weight-medium: 500;
  --text-weight-semi-bold: 600;
  --text-weight-bold: 700;
  --text-weight-extra-bold: 800;
  --text-weight-black: 900;
}
