:root {
  --index-1: 1;
  --index-2: 2;
  --index-home-button: 9;
  --index-prompt: 9998;

  --index-bottom-sheet-overlay: 890;
  --index-bottom-sheet: 900;

  --index-modal: 910;
  --index-modal-overlay: 895;

  --index-select-field-menu: 1000;
  --index-select-field-overlay-menu: 999;
}
