@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/yekan_bakh_hairline.woff2') format('woff2');
}

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/yekan_bakh_thin.woff2') format('woff2');
}

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/yekan_bakh_light.woff2') format('woff2');
}

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/yekan_bakh_regular.woff2') format('woff2');
}

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/yekan_bakh_medium.woff2') format('woff2');
}

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/yekan_bakh_bold.woff2') format('woff2');
}

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/yekan_bakh_bold.woff2') format('woff2');
}

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/yekan_bakh_heavy.woff2') format('woff2');
}

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/yekan_bakh_fat.woff2') format('woff2');
}
